<mat-toolbar color ="primary">
  <span>
    <a [routerLink]="['/']">My Tasks</a>
  </span>
  <span class="space-area"></span>
  <ul>
    <li *ngIf="isUserAuth">
      <a mat-button [routerLink]="['/create']" routerLinkActive="mat-accent"> Add Post</a>
    </li>
    <li *ngIf="!isUserAuth">
        <a mat-button [routerLink]="['/auth/signin']" routerLinkActive="mat-accent"> Login</a>
      </li>
      <li *ngIf="!isUserAuth">
        <a mat-button [routerLink]="['/auth/signup']" routerLinkActive="mat-accent"> Signup</a>
      </li>
      <li *ngIf="isUserAuth">
        <button mat-button (click)="onLogout()">Sign Out</button>
      </li>
  </ul>
</mat-toolbar>
