<mat-spinner  *ngIf="isLoading"></mat-spinner>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-8">
      <ng-container *ngFor="let post of posts; let i = index;">
       <mat-card class="post"  >
         <div class="row">
           <div class="votesView padding col-12 col-md-1 col-lg-1 text-center">
              <mat-icon class="arrowSyle">arrow_drop_up</mat-icon> <br>
              <span class="fixPosit">0</span> <br>
              <mat-icon class="arrowSyle">arrow_drop_down</mat-icon>
           </div>
           <div class="col-12 padding col-md-11 col-lg-11"  [routerLink]="['c/' + 'community' + '/comments/' + post?.id + '/title']">
               <div class="row">
                 <div class="col-12">
                   <h5> c/common
                    <span class="postUser"> Posted by u/{{post?.username}}</span> <app-date-posted
                     [datePosted]="post?.date"
                     ></app-date-posted>
                   </h5>
                   <span>{{post?.title}}</span>
                 </div>
                 <div class="col-12 text-center">
                    <img class="img-fluid" [src]="post?.imagePath" alt="No image found!">
                 </div>
                 <div class="col-12">
                    <a mat-button class="customBtn"> <mat-icon>mode_comment</mat-icon> 0 Comment</a> 

                   <a *ngIf="userAuth && userId === post.creator" mat-button class="customBtn">  Edit</a>
                   <a *ngIf="userAuth && userId === post.creator" mat-button class="customBtn">  Delete</a>
                 </div>
               </div>
           </div>
         </div>
       </mat-card>
      </ng-container>
      <div class="col-12 text-right">
          <mat-paginator #paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pgSizeOptions" (page)="onChangePage($event)" *ngIf="posts.length > 0" ></mat-paginator>
          <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading"> No posts added yet!</p>
        </div>
    </div>
    <div class="col-lg-4 desktop-view">
       <mat-card>
         <div class="row">
           <div class="col-12 text-center">
             <a mat-button class="linkBtn"> About</a>
             <hr>
           </div>
           <div class="col-12 text-center">
            <a> © 2019 Caffeenreader. All rights reserved </a>
           </div>
         </div>
       </mat-card>
    </div>
  </div>
</div>
